@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
@media (max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-right: auto
            margin-left: 47px
        &-menu
            width: 673px
            margin: auto
            padding-top: 20px
            padding-bottom: 23px

            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        padding-bottom: 60px
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
    .hotel-slider
        width: 100%
    .booking
        width: 340px
        padding: 29px 22px 26px 23px
    .map
        width: 340px
    .newsletter
        padding: 92px 6px
    .reviews
        padding-top: 38px
        &__title
            margin-bottom: 50px
            font-size: 30px
            line-height: 38px
        &-slider
            &__item
                max-width: 580px
                max-height: 320px
            &__text
                padding: 0
            &__button
                top: 50%
                &--prev
                    margin-left: 0
                &--next
                    margin-right: 0
        // &__title
        //     font-size: 30px
        //     margin-bottom: 46px
    .activities
        padding-top: 12px
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 339px
        height: 255px
        &__title
            margin-bottom: 20px
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        &__search, &-menu, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        padding-bottom: 40px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__stars
                margin-right: 16px
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-slider
            height: 350px
            &__button
                width: 12px
                height: 12px
                background-size: 4px 7px
                margin-top: -6px
                &--prev
                    margin-left: 9px
                &--next
                    margin-right: 9px
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        padding: 76px 0 83px 0
        &__title
            margin-bottom: 37px
        &-wrapper
            max-width: 576px
            width: 92%
            align-items: flex-start
            flex-direction: column
    .subscribe
        width: 100%
    .reviews
        &__title
            margin-bottom: 42px
            font-size: 18px
            line-height: 23px
        &-slider
            max-width: 699px
            &__item
                min-width: 281px
                max-height: 299px
                padding: 0 29px 36px 33px
                &::after, &::before
                    display: none
            &__button
                top: 32px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -90px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -90px
    .activities
        padding-top: 30px
        padding-bottom: 60px
    .card
        // width: 45%
        height: 255px
@media (max-width: 576px)
    .logo
        width: 99px
    .swiper-slide
        width: 100%
    .hotel
        padding-top: 2px
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding-top: 81px
        &-wrapper
            max-width: 576px
        &__title
            margin-bottom: 37px
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                margin-top: 5px
                font-weight: 600
                font-size: 30px
                line-height: 38px
    .subscribe
        width: 100%
        &__input
            padding-left: 19px
    .reviews
        &__title
            font-size: 18px
            line-height: 23px
            padding-left: 10px
            padding-right: 10px
            margin-top: 26px
            margin-bottom: 42px
    &-slider
        &__item
            max-height: 438px
            &__button
                top: 30px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -90px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -90px
        // &__item
        //     &__button
        //         top: 30px
        //         &--next
        //             right: 42%
        //         &--prev
        //             left: 40%
        //     &__text
        //         text-align: left
        //         height: 270px
        //         overflow-y: auto
    .activities
        padding-top: 6px
        &__title
            margin-bottom: 36px
            font-size: 18px
            line-height: 23px
    .card
        width: 100%

@media ( max-width: 400px )
    .container
        width: 280px
    .navbar
        &-top
            padding-top: 25px
            padding-bottom: 27px
    .hotel
        padding-top: 0px
        padding-bottom: 40px
        &-right
            min-height: 402px
        &__slider
            height: 179px
        &-info
            padding-bottom: 37px
        &-slider
            &-button
                background-size: 5px
                &--next
                    right: 7px
                &--prev
                    left: 7px
    .booking
        padding-left: 25px
        padding-right: 25px
        &-list
            padding-top: 23px
    .breadcrumb
        &-list
            padding-top: 21px
    .map
        height: 172px
    .newsletter
        padding-top: 76px
        &-wrapper
            max-width: 280px
        &-title
            font-size: 20px
            line-height: 30px
            &__strong
                font-size: 30px
                line-height: 38px
    .reviews
        padding-bottom: 33px
        &__title
            width: 245px
            margin: auto
            margin-bottom: 42px
            font-size: 18px
            line-height: 23px
        &-slider
            &__text
                text-align: left
                line-height: 159%
            &__item
                max-height: 600px
            &__avatar
                margin-bottom: 11px
    .activities
        padding-top: 40px
        padding-bottom: 40px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
    .card
        width: 280px
